*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* color palette used: https://colorpalettes.net/color-palette-3811/ */
:root {
    --white: #f4f0f4;
    --off-white:  #eeeeee;
    --brown: #9e8d8f;
    --blue: #4d7701;
    --green: #023A84;
    --dark-green: #03441F;
    --font-handwriting: 'Kaushan Script', cursive;
    --font-sans: 'Montserrat', sans-serif;

}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 180px;
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--off-white);

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%
}

img {
    max-width: 100%;
    width: 100%;
}

h2 {
    font-size: 1rem;
    color: var(--white);
    font-weight: bolder;
}


/******header*********/

.header {
    position: sticky;
    top: 0;
    background-image: linear-gradient(90deg, #4d7701, #023A84);
    width: 100%;
    padding: .5em 0;
    z-index: 999;
    margin: 0 auto;
}

.header_logo {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 0 auto;
}

.header__title {
    margin: 0 auto;
    color: var(--white);
    font-size: 1.5rem;
}
.header__title a {
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-handwriting);
}
.nav_list {
    display: flex;
    justify-content: space-around;
    background-color: var(--blue);
    list-style-type: none;
    margin: 1em 0 0;
    text-align: center;
    border-radius: 1em;
    box-shadow: rgb(41, 39, 39) 0 0 5px 0 ;
}
.nav_link {
    text-decoration: none;
    color: white;
    padding: 1em 1em;
    text-align: center;
    display: block;
    opacity: .7;
}

.nav_link:hover, .active{
    opacity: 1;
    text-shadow: 2px 2px rgba(141, 59, 59, 0.096);
    font-weight: bold;
  }
.header__container {
    position: relative;
}

.header__title-mobile {
    display: none;
}

@media(max-width:600px) {
    .header__container {
        display: flex;
        flex-direction: row;
        align-items: center;   
    }
    .header_logo {
        position: relative;
        margin: 0 0 auto 0;
        padding: 0;
        left: 0;
    }
    
    .header__title-desktop {
        display: none;  
    } 
    .header__title-mobile {
        display: block;
        font-size: 1rem;
        padding-left: 1.5rem;
    }

   
}


/* sections  */
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: .5em;
    text-align: center;
    
}
.col {
    width: 25%;
    margin: 1em 1em;
    padding: 1em 1em;
}

.col_image {
    margin: 1em 1em;
    padding: 1em 1em;
    width: 180px;
    background-color: var(--blue);
   /* border: 1.5px solid brown; */
   outline: var(--blue) solid 3px;
   outline-offset: 3px;
   /* border-radius: 5px; */
}

@media (max-width: 600px){
    .col_image {
        font-size: .8em;
        padding: .5em;
    }
}

.col_image:hover {
    transform: translate3d(0, -5px, 0);
    box-shadow: var(--green) 0 5px 10px 0 ;
    transition: .5s ease-in-out;
  }


/******CTA*********/

.btn {
    background-color: var(--blue);
    font-size: 1.5em;
    box-shadow: rgb(41, 39, 39) 0 5px 10px 0 ;
    border-radius: 10px;
    margin: .5em auto 0;
    border: none;
   
}
.btn a {
    display: block;
    text-decoration: none;
    color: white;
    padding: .8em;
    border-radius: 10px;
    opacity: .7;
}
.btn:hover{
    transform: translate3d(0, -5px, 0);
    transition: .5s ease-in-out;
}
.btn a:hover {
    opacity: 1;
}
 
  

.col_text {
    margin: .5em auto;
}
.col_img {
    padding: .5em;
    width: 250px;
    margin: 0 auto;
}






  /***********members page******************/


.main-members {
      position: relative;
      z-index: 1;
      transition: 1s ease-in-out;
  }
.main-members-name {
    margin-bottom: .8em;
}
.member-description {
    font-style: italic;
    font-weight: bold;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
/*filter options */
.filter-section {
    display: flex;
    flex-direction: row;
    gap: .5em;
}
.sorting {
    display: flex;
    flex-direction: row; 
    font-size: .7em;
}

.search-bar {
    width: 250px;
}
.search-input {
    border: 1px solid #4d7701;
    padding: 0;
    width: 20px;
}

.reset, #quick-list, .sort-options {
    background-color: #4d7701;
    color: white;
    width: 90%;
    font-size: 11px;
    padding: .5em 2em;
    border: 1px solid #4d7701;
}



.reset:hover, #quick-list:hover {
    cursor: pointer;
    color: #4d7701;
    background-color: #eeeeee;
}
.search-input {
    width: 85%;
    font-size: .7em;
    padding: .5em 2em;
}

.results {
    color: black;
    font-size: 1.5em;
    font-family: var(--font-handwriting);
    margin: 1em;

}

/*back to top*/
.button__back {
    background-color: var(--green);
    border-radius: 100%;
   position: fixed;
   bottom: 5px;
   right: 5px;
   margin: 1em .5em;
   padding: 0 1em .5em;
   z-index: 2;
   border: 2px solid var(--white);
}

.button__back span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 2em;
    color: var(--green)
}
.button__back a {
    color: var(--white);
    font-size: 1rem;
    line-height: 0.8rem;
    text-decoration: none;
}
.showTotal {
    color: white;
    font-size: 1.5rem;
    padding: .5rem 0;
}

.member__image {
    border: 3px solid var(--brown);
    margin: 1em auto;
    width: 150px;
    height: 150px;
    background-color: var(--white);
    object-fit: cover;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    
}

.member__image:hover {
    opacity: 1;
    filter: blur(0px);
}

@media (max-width:800px) {
    .col {
        width: 40%;
        max-height: 40%;
        min-height: 30%;
        } 
        
    }   

@media (max-width:600px) {

    html {
        scroll-behavior: smooth;
        scroll-padding-top: 80px;
    }
    .col {
        width: 35%;
        max-height: 40%;
        min-height: 30%;
    }  
    .member__image {
        width: 100%;
    }
    .toolbar {
        flex-direction: column;
    }

}







footer {
    background-color: rgb(36, 34, 34);

    width: 100%;
    margin: 1em 0 0;
    padding: 1em 0;
}
footer p {
    color: white;
}
footer h2 {
    margin-top: .5em;
    font-size: 20px;
}